{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid"  src="/media/{{data.image}}" />
        </div>
        <div class="col-sm-8">
            <h3>Product Details</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Product Name</th>
                        <td>{{data.product_name}}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>Rs : <span class="product-price-{{data.id}}">{{data.price}}</span></td>
                    </tr>
                    <tr>
                        <th>Details</th>
                        <td>{{data.details}}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{data.product_category}}</td>
                    </tr>
                </table>
            </div>

            <input type="number" value="1" class="control-form product-quantity-{{data.id}}" id="product-quantity" />
          <input type="hidden" class="product-image-{{data.id}}" value="{{data.image}}" />
          <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
          <input type="hidden" class="product-name-{{data.id}}" value="{{data.product_name}}" />
            <button class="btn btn-sm btn-primary add-to-cart-button" type="button" id="add-to-cart-button" data-index={{data.id}}>Add to Cart</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'custom.js' %}"></script>
<script type="text/javascript" >
    document.getElementById('add-to-cart-button').addEventListener('click',function(){
        alert("Product has been added to cart");
    })
</script>
{% endblock %}